@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}



header{
    display: flex;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


body {
    text-align: center;
    color: white;
    background-color: #121212;
    font-family: 'Ubuntu', sans-serif;
}

#cta {
    padding: 9px 25px;
    background: linear-gradient(to left, #66ffff 0%, #ff66ff 100%);
    color: #121212;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    font-size: 1.3em;
}

#cta:hover {
    padding: 9px 35px;
    background-color: #0088a9;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.logo {
    font-family: 'Varela Round', sans-serif;
    background: linear-gradient(to left, #66ffff 0%, #ff66ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-left: 2em;
    cursor: pointer;
}

li, a{
    text-decoration: none;
    color: #edf0f1;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-size: 1.3em;
}

.nav_links li a:hover {
    color: #0088a9;
    font-size: 1.5em;
}


img {
    max-width: 20vw;

    border-radius: 8px;
}

h1 {
    margin: 20px 0;
}

.feat_manga {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

.manga {
    padding: 10px 20px;
    cursor: pointer;
}

#wrapper {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
}

#wrapper img {
    filter: grayscale(100%) blur(5px) brightness(50%);
    
}

#wrapper div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    background: linear-gradient(to left, #66ffff 0%, #ff66ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}